<p id="notice"><%= notice %></p>

<h1>
  <strong>Recipe for </strong>
  <%= @recipe.name %>
</h1>

<br>

<h2>Ingredients</h2>

<% @recipe.ingredients.each do |ingredient| %>
    <p><%= ingredient.quantity %> <%= ingredient.unit %> of <%= ingredient.name %>  | <%= link_to 'Delete', ingredient, method: :delete, data: { confirm: 'Are you sure?' } %></p>
<% end %>


<br>
<%= link_to "Add Ingredients", new_ingredient_path(recipe_id: @recipe.id) %>
<br><br>
<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', recipes_path %>
